<div
  class="flex flex-col w-auto py-6 content-center justify-items-center items-center m-16"
>
  <div class="md:border-2 p-6">
    <div class="h-full mt-16">
      <h3 class="text-center text-lg">Registrarse</h3>
      <div class="flex flex-col md:flex-row py-6">
        <div class="md:w-1/2 w-full text-center md:text-left">
          <h3 class="text-lg mr-6">Correo Electronico</h3>
        </div>
        <input
          type=""
          #formmail
          name="form-mail"
          class="rounded-md shadow-md h-8 p-2 border-gray-500 border-2"
        />
      </div>
      <div class="flex flex-col md:flex-row py-6">
        <div class="md:w-1/2 w-full text-center md:text-left">
          <h3 class="text-lg mr-6">Contraseña</h3>
        </div>
        <input
          type=""
          #formpassword
          name="form-password"
          class="rounded-md shadow-md h-8 p-2 border-gray-500 border-2"
        />
      </div>
      <div class="flex flex-col md:flex-row py-6">
        <div class="md:w-1/2 w-full text-center md:text-left">
          <h3 class="text-lg mr-6">Nombre</h3>
        </div>
        <input
          type=""
          #formname
          name="form-name"
          class="rounded-md shadow-md h-8 p-2 border-gray-500 border-2"
        />
      </div>
      <div
        class="flex h-1/2 content-center justify-items-center justify-center items-center"
      >
        <button class="rounded-md bg-gray-600 h-12 mr-4">
          <a routerLink="/Home" routerLinkActive="active"
            ><h3 class="m-2 md:block hidden text-white">Registrarse</h3></a
          >
        </button>
      </div>
    </div>
  </div>
</div>
