<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <div
      class="relative w-full h-full md:w-1/2 md:h-128 inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle"
    >
      <div class="bg-white">
        <div class="sm:flex flex-row">
          <div
            class="w-2/6 rounded-l-lg h-128 bg-gray-500 flex flex-col content-center justify-items-center justify-center"
          >
            <p class="text-center text-2xl text-white">Hola mundo!</p>
          </div>
          <div
            class="flex flex-col w-4/6 py-6 content-center justify-items-center items-center"
          >
            <div>
              <h3 class="text-center text-lg">Iniciar Sesion</h3>
              <div class="flex flex-row py-6">
                <h3 class="text-center text-lg mr-6">Correo Electronico</h3>
                <input
                  type=""
                  name=""
                  class="rounded-md shadow-md rounded-2 h-8"
                />
              </div>
              <div class="flex flex-row py-6">
                <h3 class="text-center text-lg mr-6">Contraseña</h3>
                <input
                  type=""
                  name=""
                  class="rounded-md shadow-md rounded-2 h-8"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
