<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      aria-hidden="true"
    ></div>

    <div
      class="relative w-full h-128 md:w-1/2 md:h-128 inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle"
    >
      <div class="bg-white">
        <div class="sm:flex flex-row">
          <div
            class="w-2/6 rounded-l-lg h-128 bg-gray-500 md:flex md:flex-col md:content-center justify-items-center justify-center hidden"
          >
            <p class="text-center text-2xl text-white">Hola mundo!</p>
          </div>
          <div
            class="flex flex-col w-4/6 py-6 content-center justify-items-center items-center"
          >
            <div
              class="flex flex-col w-full h-8 content-end justify-items-end items-end items-end"
            >
              <div class="self-end mr-4">
                <a routerLink="" routerLinkActive="active">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6 18L18 6M6 6l12 12"
                    />
                  </svg>
                </a>
              </div>
            </div>
            <div class="h-full mt-16">
              <h3 class="text-center text-lg">Iniciar Sesion o Registrarse</h3>
              <div class="flex flex-row py-6">
                <div class="w-1/2">
                  <h3 class="text-lg mr-6">Correo Electronico</h3>
                </div>
                <input
                  type=""
                  name=""
                  class="rounded-md shadow-md h-8 p-2 border-gray-500 border-2"
                />
              </div>
              <div class="flex flex-row py-6">
                <div class="w-1/2">
                  <h3 class="text-lg mr-6">Contraseña</h3>
                </div>
                <input
                  type=""
                  name=""
                  class="rounded-md shadow-md h-8 p-2 border-gray-500 border-2"
                />
              </div>
              <div
                class="flex h-1/2 content-center justify-items-center justify-center items-center"
              >
                <button class="rounded-md bg-gray-600 h-12 mr-4">
                  <a routerLink="/Login" routerLinkActive="active"
                    ><h3 class="m-2 md:block hidden text-white">
                      Iniciar Sesion
                    </h3></a
                  >
                </button>
                <button class="rounded-md bg-gray-600 h-12 mr-4">
                  <a routerLink="/Login" routerLinkActive="active"
                    ><h3 class="m-2 md:block hidden text-white">
                      Registrarse
                    </h3></a
                  >
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
