<!--Este codigo contiene la segunda parte en vertical de la pagina -->

<div class="w-full h-96 flex flex-col content-center justify-center	justify-items-center items-center bg-gray-600	">
  <div class="w-1/4 h-1/4 flex flex-col content-center justify-items-center	justify-center">
    <p class="text-center text-3xl text-white">Hola mundo!</p>
    <div class="self-center">
    <button class="rounded-lg bg-cyan-500 m-6 mt-12 text-md p-2 w-32 h-auto">
      Descubre Quienes Somos
    </button>
</div>
  </div>

   
</div>