<div class="flex md:flex-row flex-col">
  <div class="md:w-1/2 px-8 py-12 w-full">
    <h2 class="text-center text-lg mb-6">Lorem Ipsum</h2>
    <p class="text-justify">
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
      <br />
      <br />
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
      <br />
      <br />
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
    </p>
  </div>
  <div
    class="w-1 h-96 bg-gray-700 border-black rounded-md opacity-50 self-center md:block hidden"
  ></div>
  <div class="md:w-1/2 px-8 py-12 w-full">
    <h2 class="text-center text-lg mb-6">Lorem Ipsum</h2>
    <p class="text-justify">
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
    </p>
    <img
      src="https://th.bing.com/th/id/OIP.ZvbDwbIRo84BbEmBm9UEUQHaF-?pid=ImgDet&rs=1"
      class="w-64 h-64 m-8"
    />
    <p class="text-justify">
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
      <br />
      <br />
      Nostrud incididunt magna id tempor sit officia ut enim nulla et id enim
      duis eiusmod aliquip ut. Eu aliqua adipisicing ad voluptate dolor laborum
      reprehenderit cillum. Nisi sunt aliquip non ut ut fugiat laborum pariatur
      duis. Ut cupidatat non ut pariatur tempor sunt non est proident dolore
      esse amet tempor laboris voluptate dolor. Excepteur amet proident deserunt
      sint proident nulla mollit in cillum enim.
    </p>
  </div>
  <div></div>
</div>
